/*
  List-view style rules: Action Menu
*/

.action-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: $darkBlue;
    opacity: 0.95;
    border-top: solid thin $mediumBlue;

    @include MQ(MNotebookOrL) {
        top: 17.5em;
        left: 8%;
        width: 10%;
        background: none;
        border-top: none;
    }

    ul {
        padding-left: 0;
        text-align: center;

        @include MQ(MNotebookOrL) {
            margin: 0;
            padding: 0;
        }
    }
}

.action-button {
    display: inline-block;
    margin: 0 2.5%;
    font-size: 0.75em;

    @include MQ(MNotebookOrL) {
        display: block;
        margin: 1em 0;
        font-size: 1em;
    }

    &.hidden {
        display: none;
    }

    &:hover {
        cursor: pointer;
    }

    &.create:hover i { color: $mediumBlue; }

    &.delete i { color: $mediumPink; }
    &.delete:hover i { color: $darkPink; }

    &.edit i { color: $white; }
    &.edit:hover i { color: $lightGrey; }

    &.status i { color: $green; }
    &.status:hover i { color: $mutedGreen; }

    &.priority i { color: $orange; }
    &.priority:hover i { color: $mutedOrange; }
}