/*
  List-view style rules: Action Menu
*/

.action-menu {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    background: $darkBlue;
    opacity: 0.95;
    border-top: solid thin $mediumBlue;

    @include MQ(M-Notebook) {
        top: 17.5em;
        left: 6%;
        width: 10%;
        background: none;
        border-top: none;
    }

    @include MQ(L) {
        top: 17.5em;
        left: 4em;
        margin-left: calc(50vw - 28.5em);
        width: 4em;
        background: none;
        border-top: none;
    }

    ul {
        padding-left: 0;
        text-align: center;

        @include MQ(M-Notebook) {
            margin: 0;
            padding: 0;
        }

        @include MQ(L) {
            margin: 0;
            padding: 0;
        }
    }
}

.action-button {
    display: inline-block;
    margin: 0 2.5%;
    font-size: 0.75em;

    @include MQ(M-Notebook) {
        display: block;
        margin: 1em 0;
        font-size: 1em;
    }

    @include MQ(L) {
        display: block;
        margin: 1em 0;
        font-size: 1em;
    }

    &.hidden {
        display: none;
    }

    /*  &.deactivated.create,
        &.deactivated.delete,
        &.deactivated.edit,
        &.deactivated.status,
        &.deactivated.priority, {
            i, i:hover {
                color: $lightGrey;
                cursor: default;
            }
        } */

    &:hover {
        cursor: pointer;
    }

    i {                    
        transition-property: all;
        transition-duration: 0.4s;
    }

    &.create:hover i { color: $mediumBlue; }

    &.delete i { color: $mediumPink; }
    &.delete:hover i { color: $darkPink; }

    &.edit i { color: $white; }
    &.edit:hover i { color: $lightGrey; }

    &.status i { color: $green; }
    &.status:hover i { color: $mutedGreen; }

    &.priority i { color: $orange; }
    &.priority:hover i { color: $mutedOrange; }
}