/*
  List-view style rules: Main Menu
*/

div.main-menu {

    &.up {
        margin-top: -12.2em;

        @include MQ(S) {
            margin-top: -5.5em;
        }
    }

    ul.menu-list {
        margin: 0;
        padding: 0;

        li.action {
            /*margin-right: -0.27em;*/
            padding: 1em 2.5em;
            border-bottom: solid thin lightblue;
            background-color: $lightBlue;
            text-align: center;
            color: white;

            @include MQ(S) {
                display: inline-block;
                padding: 2.4em 0;
                width: 25%;
                border: none;
            }

            &.load {
                position: relative;

                ul.dropdown {
                    position: absolute;
                    top: 3em;
                    left: 0;
                    padding: 0.5em 3% 0.5em 3%;
                    width: 100%;
                    box-shadow: 0 2.5px 6px 0px $darkBlue;
                    background-color: $darkBlue;

                    @include MQ(S) {
                        top: 6.15em;
                    }

                    li {
                        margin-bottom: 0.2em;
                        padding: 0.5em 0;
                        border-radius: 0.2em;
                        background-color: $lightBlue;
                        opacity: 0.9;

                        &:hover {
                            background-color: $mediumBlue;
                        }
                    }

                    a {
                        color: white;
                    }
                }
            }

            &.logout {
                @include MQ(S) {
                    margin-right: 0;
                }
            }

            &:hover {
                background-color: $mediumBlue;
                cursor: pointer;
            }
        }
    }
}

span.menu-toggle {
    display: block;
    text-align: center;

    i.fa {
        &:hover {
            color: $mediumBlue;
            cursor: pointer;
        }
    }
}
