/*
  List-view style rules: The List - Add-To-List Button
*/

body.list-view {

    main div.theList {

        span.add-listElement {
            width: 90%;
            display: block;
            margin: 1em auto;
        }

    }
}