/*
  List-view style rules: The List - Base style rules
*/

main.list-view {
    padding-top: 0.5em;
    padding-bottom: 4.5em;
    border-top: solid $mediumBlue thin;
}

.theList {
    margin: 1.5em;
    padding: 1em;
    background: $white;
}

.category-title,
.subcategory-title,
.task-title {
    display: inline-block;
    width: 100%;
}

.no-display {
    .category-title,
    .subcategory-title {
        display:none;
    }
}
