/*
  List-view style rules: The List - Base style rules
*/

body.list-view {

    main {
        display: flex;
        width: 100%;
        padding-top: 2em;
        border-top: solid $mediumBlue thin;
        margin-top: 1em;

        div.theList {
            padding: 1em 0;
            margin-right: 4em;
            width: 95%;
            background-color: white;
            min-height: 34em;
            margin-left: 10em;

            span {
                display: inline-block;
                width: 100%;

                &.btn {
                    width: 10em;
                }
            }
        }
    }

}