/*
  List-view style rules: The List - Base style rules
*/

main.list-view {
    padding-top: 0.5em;
    padding-bottom: 4.5em;
    border-top: solid $mediumBlue thin;

    @include MQ(MNotebookOrL) {
        display: flex;
        margin-top: 1em;
        padding-top: 2em;
        width: 100%;
    }
}

.theList {
    margin: 1.5em 10%;
    padding: 1em;
    min-height: 34em;
    background: $white;

    @include MQ(MNotebookOrL) {
        margin-left: 22%;
        margin-right: 8%;
        width: 95%;
    }
}

.category-title,
.subcategory-title,
.task-title {
    display: inline-block;
    width: 100%;
}

.no-display {
    .category-title,
    .subcategory-title {
        display:none;
    }
}
