/*
  List-view style rules: The List - Subcategory
*/

body.list-view {

    main div.theList {

        div.subcategory:not(.no-display) {
            border: solid thin;
            padding-bottom: 1em;

            &.selected span.subcategory-title {
                background-color: $veryLightBlue;
                color: $mediumBlue;
                cursor: pointer;
                font-weight: 500;
            }

            span.subcategory-title {
                font-size: 1.2em;
                padding: 1em 0 0.5em 1em;
                transition-property: all;
                transition-duration: 0.4s;
                border-bottom: solid thin;

                &:hover {
                    background-color: $veryLightBlue;
                    color: $mediumBlue;
                    cursor: pointer;
                    font-weight: 500;
                }
            }
        }

    }
}