/*
  List-view style rules: The List - Subcategory
*/

.subcategory-title {
    border-bottom: solid thin $veryLightGrey;
    margin-bottom: 0.5em;
    font-size: 1.05em;
    padding: 0.75em 0 0.5em 1em;
}

.subcategory.selectable.selected .subcategory-title,
.subcategory-title:hover {
    cursor: pointer;
    background-color: $veryLightBlue;
    color: $mediumBlue;
    font-weight: 500;
}