/*
  List-view style rules: The List - Task
*/

.task.selectable {
    position: relative;
    border-bottom: solid thin $lightestGrey;

    &.selected,
    &:hover {
        cursor: pointer;
        background-color: $veryLightBlue;

        .task-title {
            color: $mediumBlue;
            font-weight: 500;
        }

        .task-border {
            display: block;
        }
    }

    .task-toggle {
        position: absolute;
        top: 0.35em;
        left: 0.5em;

        &:hover { cursor: pointer; }
    }

    .task-toggle i {
        font-size: 1.25em;
    }

    .task-title {
        padding: 0.5em 0 0.5em 2em;
    }

    .task-border.top-border {
        position: absolute;
        top: -2.5px;
    }

    .task-border.bottom-border {
        position: absolute;
        bottom: -2.5px;
    }
}