/*
  List-view style rules: The List - Task Items
*/

.task-item-wrapper {
    font-size: 0.85em;
    margin-left: 13%;
    margin-right: 1em;
}

.task-item:last-child { padding-bottom: 1em; }

.task-item-heading {
    display: inline-block;
    padding: 0.15em 0;
}

.task-item:hover,
.task-item.selected, {
    span.deadline-content,
    span.link-content,
    span.detail-content,
    span i {
        color: $mediumBlue;
    }
}
