/*
  List-view style rules: The List - Task
*/

.task {
    position: relative;
    border-bottom: solid thin $lightestGrey;

    &.selected,
    &:hover {
        cursor: pointer;
        background-color: $veryLightBlue;

        .task-title {
            color: $mediumBlue;
            font-weight: 500;
        }

        .task-border { display: block; }

        .modal { cursor: default; }
    }

    &.complete {
        .task-title { text-decoration: line-through; }
    }

    &.priority {
        background-color: $lightOrange;

        .task-toggle i { color: $mediumBlue; }
    }

    .task-toggle {
        position: absolute;
        top: 0.35em;
        left: 5%;

        &:hover { cursor: pointer; }
    }

    .task-toggle i { font-size: 1.25em; }

    .task-title { padding: 0.5em 1em 0.5em 13%; }

    .task-border.top-border {
        position: absolute;
        top: -2.5px;
    }

    .task-border.bottom-border {
        position: absolute;
        bottom: -2.5px;
    }
}