/*
  List-view style rules: The List - Task Items
*/

body.list-view {

    main div.theList {

        div.task {

            div.selectable {
                margin: 0 0 0.5em 0.5em;

                &.selected {
                    font-weight: 500;

                    span { 
                        color: $pink;
                        position: relative;
                    }

                    span.deadline-icon::before, 
                    span.link-content::before,
                    span.detail-content::before {
                        content: "«";
                        color: $pink;
                        position: absolute;
                        left: -1em;
                    }

                    span.deadline-content::after, 
                    span.link-content::after,
                    span.detail-content::after {
                        content: " »";
                        color: $pink;
                    }
                }

                span:not(.deadline-content) {
                    margin-left: 36%;
                }
            }

            span.deadline-content,
            span.deadline-icon {
                width: auto;
            }

        }
    }
}