* {
    box-sizing: border-box;
    font-family: $fontfamily;
    font-size: 1em;
    color: $lightBlue;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.btn {
    display: inline-block;
    color: white;
    padding: 1em;
    width: 10em;
    font-size: 1em;
    border-radius: 0.5em;
    margin: 1em;
}

.pink {
    background-color: $pink;
}