* {
    box-sizing: border-box;
    font-family: $fontfamily;
    font-size: 1em;
    color: $lightBlue;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.btn {
    display: inline-block;
    color: white;
    padding: 1em;
    width: 10em;
    font-size: 1em;
    border-radius: 0.5em;
    margin: 1em;
    text-align: center;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 0.5em 0.1em $lightGrey;
    }
}

.pink {
    background-color: $pink;
}

.orange {
    background-color: $orange;
}

.white {
    background-color: $white;
    border: solid $lightGrey thin;
    color: $lightBlue;
}

div.modal {
    div.shadow-back {
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 100%;

        form {
            z-index: 1;
            position: fixed;
            top: 43%;
            background-color: rgba(255, 255, 255, 0.9);
            width: 93%;
            left: 3%;
            height: 22.3em;
            padding: 2em;
            border-radius: 1em;

            .modal-heading {
                display: block;
                font-size: 2em;
                width: 70%;
                float: right;
                margin-right: 2em;
                margin-top: 0.5em;
            }

            div.input {
                position: absolute;
                right: 3em;
                width: 70%;

                &.first {
                    top: 7em;
                }

                label {
                    color: $lightBlue;
                    float: left;
                    padding: 0.5em 0;
                }

                input {
                    border: none;
                    padding: 0.5em 1em;
                    background: $veryLightBlue;
                    border-radius: 0.2em;
                    color: $mediumBlue;
                    float: right;
                    width: 90%;
                }
            }

            div.form-buttons {
                position: absolute;
                bottom: 1em;
                right: 2em;
            }
        }
    }
}
