
body.list-view {
    background-color: $darkBlue;
    position: relative;
    margin: 0 auto;

    div.main-menu {
        transition-property: all;
        transition-duration: 0.5s;

        &.up {
            margin-top: -5.5em;
        }

        ul.menu-list {
            padding: 0;
            margin: 0;

            li.action {
                display: inline-block;
                color: white;
                background-color: $lightBlue;
                width: 25%;
                margin-right: -0.27em;
                text-align: center;
                padding: 2.5em;
                transition-property: background-color;
                transition-duration: 0.6s;

                &.load {
                    position: relative;

                    ul.dropdown {
                        padding-left: 0;
                        position: absolute;
                        top: 6.35em;
                        left: 3%;
                        width: 94%;

                        li {
                            margin-bottom: 0.2em;
                            background-color: $lightBlue;
                            padding: 0.5em 0;
                            opacity: 0.9;
                            border-radius: 0.2em;

                            &:hover {
                                background-color: $mediumBlue;
                            }
                        }

                        a {
                            color: white;
                        }
                    }
                }

                &.logout {
                    margin-right: 0;
                }

                &:hover {
                    background-color: $mediumBlue;
                    cursor: pointer;
                }
            }
        }
    }

    span.menu-toggle {
        display: block;
        text-align: center;

        i.fa {
            transition-property: background-color;
            transition-duration: 0.4s;

            &:hover {
                color: $mediumBlue;
                cursor: pointer;
            }
        }
    }

    div.title {
        padding: 0 3em 0 4em;

        h1 {
            display: inline-block;
        }

        .priorities.btn {
            float: right;
            transition-property: background-color;
            transition-duration: 0.4s;

            &:hover {
                background-color: $mutedOrange;
                box-shadow: 0 0 0.5em 0.1em $darkGrey;
            }
        }
    }

    div.action-menu {
        width: 20%;
            position: fixed;
            top: 20.2em;
            left: 4em;

        ul {
            margin: 0;
            padding: 0;

            li {
                margin: 1em 0;

                &.delete i { color: $mediumPink; }
                &.edit i { color: $white; }
                &.status i { color: $green; }
                &.priority i { color: $orange; }

                i {                    
                    transition-property: all;
                    transition-duration: 0.4s;
                }

                &:hover {
                    cursor: pointer;

                    &.create i { color: $mediumBlue; }
                    &.delete i { color: $darkPink; }
                    &.edit i { color: $lightGrey; }
                    &.status i { color: $mutedGreen; }
                    &.priority i { color: $mutedOrange; }
                }
            }
        }

        &.fake {
            padding: 0;
            position: fixed;
            top: 20.2em;
            left: 4em;

            ul li {
                i:not(.highlighted) { color: $lightGrey }

                &:hover {
                    cursor: default;

                    &.create i.highlighted { color: $lightBlue; }
                    &.delete i.highlighted { color: $darkPink; }
                    &.edit i.highlighted { color: $white; }
                    &.status i.highlighted { color: $green; }
                    &.priority i.highlighted { color: $orange; }

                    i:not(.highlighted) { color: $lightGrey }
                }
            }
        }
    }

    main {
        display: flex;
        width: 100%;
        padding-top: 2em;
        border-top: solid $mediumBlue thin;
        margin-top: 1em;

        div.theList {
            padding: 1em 0;
            margin-right: 4em;
            width: 95%;
            background-color: white;
            min-height: 34em;
            margin-left: 10em;

            span {
                display: inline-block;
                width: 100%;
            }

            div.category:not(.no-display) {
                margin: 1em;

                span.category-title {
                    border-bottom: solid thin;
                    margin-bottom: 0.5em;
                    margin-top: -0.5em;
                    font-size: 1.3em;
                    padding: 1em 0 0.5em 1em;
                    transition-property: all;
                    transition-duration: 0.4s;

                    &:hover {
                        background-color: $veryLightBlue;
                        color: $mediumBlue;
                        cursor: pointer;
                        font-weight: 500;
                    }
                }
            }

            div.category.no-display {
                margin-top: -2em;
            }

            div.subcategory:not(.no-display) {
                border: solid thin;
                padding-bottom: 1em;

                span.subcategory-title {
                    font-size: 1.2em;
                    padding: 1em 0 0.5em 1em;
                    transition-property: all;
                    transition-duration: 0.4s;

                    &:hover {
                        background-color: $veryLightBlue;
                        color: $mediumBlue;
                        cursor: pointer;
                        font-weight: 500;
                    }
                }
            }

            div.task {
                border-top: solid thin;
                border-bottom: solid thin;
                padding: 0.5em 1em;
                position: relative;
                transition-property: all;
                transition-duration: 0.4s;

                &.null-cat {
                    padding: 0.5em 2em;
                }

                &:hover {
                    background-color: $veryLightBlue;
                    border-color: $mediumBlue;
                    cursor: pointer;

                    span.task-title {
                        font-weight: 500;
                    }

                    canvas {
                        display: inherit;
                    } 
                }

                canvas {
                    position: absolute;
                    left: 0;

                    &.top-border {
                        top: -0.18em;
                    }

                    &.bottom-border {
                        bottom: -0.18em;
                    }
                }

                span, span i {
                    color: $mediumBlue; 
                }

                span.task-title {
                    margin-bottom: 0.5em;
                    font-size: 1.2em;
                    width: auto;
                }

                span.task-toggle {
                    width: auto;
                    margin: 0 6em;

                    i {
                        color: $lightBlue;
                    }                
                }

                div.deadline,
                div.link,
                div.detail {
                    margin: 0 0 0.5em 0.5em;
                }

                span.deadline-content,
                span.deadline-icon {
                    width: auto;
                }
            }
        }
    }

}