
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

// Color Palette
$pink          : #e98696;
$lightBlue     : #86c7e6;
$darkBlue      : #697cae;

// Font Family
$fontfamily    : 'Fira Sans', sans-serif;
