
// Fonts
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import "../../../node_modules/font-awesome/scss/font-awesome";

// Color Palette
$pink          : #e98696;
$lightBlue     : #86c7e6;
$darkBlue      : #697cae;

// Font Family
$fontfamily    : 'Fira Sans', sans-serif;
