
// Fonts
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import "../../../node_modules/font-awesome/scss/font-awesome";

// Color Palette
$pink          : #e98696;
$veryLightBlue : #cfe9f5;
$lightBlue     : #86c7e6;
$mediumBlue    : #697cae;
$darkBlue      : #4a5376;
$white         : #ffffff;
$lightGrey     : #cccccc;
$transparent   : rgba(0, 0, 0, 0);

// Font Family
$fontfamily    : 'Fira Sans', sans-serif;
