* {
    box-sizing: border-box;
    font-family: $fontfamily;
    font-size: 1em;
    color: $lightBlue;
    transition-property: all;
    transition-duration: 0.4s;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.clearfix::after {
    display: block;
    content: " ";
    clear: both;
}
